body{
  background-image: url(../images/basket2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  margin: 0;
}
h1,h2{
  font-family: 'Yeseva One', cursive;
}
p{
  font-family: "Monserat", sans-serif;
  text-align: left;
}
.navLi{
  display: flex;
  flex-direction: row;
  justify-content: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}
a:hover{
  color: #8fd890;
}
#section1,#section2, #section3{
  text-align: center;
  width: 50%;
  }
  #content-container{
    display:flex;
    flex-direction: column;
    align-items: center;
  }