body {
  margin: 0;
  background-image: linear-gradient(
    to bottom,
    #f9e0cc,
    #d9dbb9,
    #aad7bb,
    #7dcfd1,
    #73bfe7
  );
}
img, video{
  height: 50%;
  width: 50%;
}
h1,
h2 {
  font-family: "Yeseva One", cursive;
}
p {
  font-family: "Monserat", sans-serif;
  text-align: left;
}
ul.myUl {
  text-align: left;
  display: inline-block;
  font-family: "Monserat", sans-serif;
}
.navLi {
  display: flex;
  flex-direction: row;
  justify-content: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:hover {
  color: #8fd890;
}
#contentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#section2, #section3, #section4, #section5{
  width: 70%;
  text-align: center;
}
#section1 {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 45em;
  margin-bottom: 0;
}
#section1A{
  padding: 15px;
  text-align: center;
  width: 70%;
  margin-left: 15%;
}