body{
  text-align: center;
  background-image: linear-gradient(to bottom, #f9e0cc, #d9dbb9, #aad7bb, #7dcfd1, #73bfe7);
 margin: 0 0 50px 0;
}
body :not(navMenu) {
  /* styles for all elements except for #exclude-me */
}

h1,h2{
  font-family: 'Yeseva One', cursive;

}
p{
  font-family: "Monserat", sans-serif;
  text-align: left;
} 
ul.myUl{
  text-align: left;
  display: inline-block;
  font-family: "Monserat", sans-serif;
}
.navLi{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}
a:hover{
  color: #8fd890;
}
#section1{
  background-image: url(../images/background.jpg);
  background-size: cover;
  padding: 60px;
  height: 100%;
}
#section1A,#section2, #section3, #section4, #section5{
  padding: 25px 50px;
  margin-left: 200px;
  margin-right: 200px;
}
